.info_custom {
padding-top:30px;
padding-bottom: 15px;
}

.info_custom h4{
  color: #fff !important;
  margin-top: 14px !important;
}

.section-icons{
  background: linear-gradient(135deg, #92d7ef 0%, #0f7e9b 100%); transform: translate3d(0px, 0px, 0px);
}
